*{
    font-family: 'Montserrat';
}

.name {
    width: 300px;
    height: 225px;
    background-color: #090a0a;
    margin-top: 75px;
    margin-left: 40px;
    border-radius: 15px;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    align-items: center;
    color: rgb(243, 228, 14);
    /* background: #fc0;  */
    box-shadow: 0 0 35px rgba(0,0,0,0.7); /* Параметры тени */
    padding: 10px;
}


.task {
    display: flex;
    flex-wrap: wrap;
}

.edit-btn{
    width: 80px;
    height: 30px;
    background-color: white;
    border: solid 1px;
    border-color: rgb(146, 146, 146);
    border-radius: 2px;
    font-size: 15px;
}
.close-btn{
    margin-top: 15px;
    width: 40px;
    height: 30px;
    background-color:white;
    border: solid 1px;
    border-color: rgb(146, 146, 146);
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 40px;
}