.inp-crud {
    text-align: center;
}
.add-btn{
    border-color: rgb(6, 78, 126);
    color: rgb(3, 3, 3);
    box-shadow: 0 0 40px 40px rgb(38, 172, 250) inset, 0 0 0 0 rgb(224, 224, 8);
    transition: all 150ms ease-in-out;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    text-align: center;

}

.add-btn:hover {
    box-shadow: 0 0 10px 0 rgb(57, 163, 250) inset, 0 0 10px 4px rgb(192, 192, 17);
  }