.main-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    /* backdrop-filter: blur(10px); */
}
.inner-modal{
    max-width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 200px;
}
.inner-modal::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.inner-modal{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
